<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://aguirrel.github.io/ng-currency/dist/ng-currency.js"></script> <!-- needed to show currency in tables -->
<body>

<div ng-app="BudgetApp" ng-controller="BudgetCtrl">
	<div class="container">
		<h4>
			<button  ng-click='addSection()' class="glyphicon glyphicon-plus-sign"> </button>
        </h4>
		<div ng-mouseenter='sectionHighlight = true' ng-mouseleave='sectionHighlight =false' ng-init='sectionHighlight=false'>
		  <table class="table table-bordered table-hover">
		    <thead>
			    <tr ng-show='sectionHighlight'>
			    <th></th>
			    <th></th>
			    <th></th>
			    <th>Delete Section</th>
			    </tr>
		    </thead>
		    <tr>
		    	<td><b>SectionName</b> <href ng-show='sectionHighlight' class='text-right'> <button ng-click='addRow()' class="glyphicon glyphicon-plus-sign"> </button> </href></td>
		    	<td>Budget</td>
		    	<td>Actual</td>
		    	<td>Difference</td>
		    </tr>
		    

		    <tbody><!-- repeat rows of section table -->
		    <tr  ng-repeat='ones in Row'> 
			    <div ng-mouseenter='rowHighlight = true' ng-mouseleave='rowHighlight = false'>
				    
					    <td><input type='text' ng-model='ones.rowName' ></td>
					    <td><input type="text" ng-model='ones.budgetInput' ng-init=" ones.budgetInput = 0.00" ng-currency/></td>
					    <td><input type="text" ng-model='ones.actualInput' ng-init=" ones.actualInput = 0.00" ng-currency/></td>
					   <!--  <td>{{rowDifference(budgetInput,actualInput) | currency}}</td> -->
					   <td>{{ones.difference | currency}}</td>
				  
			    </div>
			</tr>
		    <tr>
			    <td><b>Total</b></td>	
			    <td>Budget ReadOnly</td>
			    <td>Actual ReadOnly</td>
			    <td>Difference ReadOnly</td>
		    </tr>
		    </tbody>
		  </table>
	  </div>
	</div>
    <br>
</div>
<script src="BudgetCtrl.js"></script>
</body>
</html>

