<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head> 
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
			
		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="exif.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="angular-base64-upload.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
		<script type="text/javascript" src="ui-bootstrap-tpls-2.5.0.js"></script>
		
		
		<script type="text/javascript">
			angular.module('myApp', ['naif.base64','ui.bootstrap'])
					 
			.controller('ctrl', function($scope, $http, $window, $rootScope, $filter,$interval){
				///
				if (window.DeviceOrientationEvent) {
					 console.log("DeviceOrientation is supported");
					}
					else{
						console.log("No support");
						$scope.warningMsg = 'No support';
					}
				
					//
					//originalImage = document.getElementById("img1");
					//
					$scope.betaX 				= null;
					$scope.gammaY 				= null;
					$scope.alphaZ 				= null;
					
					
					
					
					window.addEventListener('deviceorientation', function(event) {
						$scope.betaX = Math.round(event.beta);
						$scope.gammaY = Math.round(event.gamma);
						$scope.alphaZ = Math.round(event.alpha);
													
						
					});
					
	
					
					$scope.originalImage = document.getElementById("inputFile");


					$scope.thatImageRotatate = getImageOrientation();



					document.getElementById("inputFile").onchange = function(e) {
					    EXIF.getData(e.target.files[0], function() {
					        //alert(EXIF.pretty(this));//USE FOR TESTING
					        
					        $scope.imageOrientation = EXIF.getTag(this,"Orientation");
					       
					        console.log('imageOrientation '+$scope.imageOrientation);
					        console.log( this);

					        loadImageFileAsURL();
					    });
					}



					function getImageOrientation(){
							$scope.thisOne = document.getElementById("inputFile");
							EXIF.getData($scope.thisOne, function() {
					        
					         $scope.imageOrientation = EXIF.getTag(this,"Orientation");
					         console.log('in function getImageOrientation ' + $scope.imageOrientation);
		        
					    });

					}

					function loadImageFileAsURL(){
						console.log('in loadImageFileAsURL function');
					
					    $scope.filesSelected = document.getElementById("inputFile").files;
					    
					    console.log('filesSelected');
					    console.log( $scope.filesSelected);
					    console.log($scope.file);
					    
					    if ($scope.filesSelected.length > 0)
					    {
					        $scope.fileToLoad = $scope.filesSelected[0];
					 
					        $scope.fileReader = new FileReader();
					 
					        $scope.fileReader.onload = function(fileLoadedEvent) 
					        {
					           console.log('in fileReader function');
					     		

					          
					            var incommingBaser64 = fileLoadedEvent.target.result;
					            
					            //console.log('baser64 ' + $scope.incommingBaser64);
					            
					           //console.log($scope.filesSelected[0].exifdata.Orientation);
					          // console.log($scope.raTilt);
					          $scope.filesSelectedOrientation = $scope.filesSelected[0].exifdata.Orientation;

					            //
					            EXIF.getData($scope.filesSelected, function() {
					        
							         $scope.imageOrientation = EXIF.getTag($scope.filesSelected,"Orientation");
							         console.log('in function getImageOrientation ' + $scope.imageOrientation);

							         
							        
							    });
					            
					            //
					            //$scope.raTilt = '90';/// FOR TESTING ONLY
					            //$scope.filesSelectedOrientation = 6;
					            console.log($scope.file);
					            //console.log($scope.raTilt);
					            
	
					            //
					            resetOrientation($scope.raTilt,incommingBaser64, $scope.filesSelectedOrientation, function(resetBase64Image) {//$scope.filesSelectedOrientation
					            	$scope.file.base64 = resetBase64Image;
					            	//var resetBase64String = resetBase64Image;
					            	console.log($scope.file.base64);
					
					            	//$scope.file.base64 = resetBase64String.replace('data:image/jpeg;base64,','');///puts reseted image to be processed.
					            	resetBase64String = null;
					            	///console.log('reset image ' + $scope.file.base64);
					            	console.log(resetBase64String);


								});
					        };
					 
					        $scope.fileReader.readAsDataURL($scope.fileToLoad);


					    }
					}

					function resetOrientation(cameraTilt,srcBase64, srcOrientation, callback) {
						console.log('in the resetOrientation function');
						
						img = new Image();	
						
						//console.log(img);

						img.onload = function() {
							console.log('in on load function');
					  	var width = img.width,
					    		height = img.height,
					    		
					    		
					        canvas = document.createElement('canvas'),
						  		ctx = canvas.getContext("2d");
					  	
					  	if (width > 600 || height > 600){
					  		var widthScale = (width/ 600)/ 10;
					  		var heightScale =(height/ 600)/10;
					  		console.log('widthScale ' + widthScale);
					  		console.log('heightScale ' + heightScale);
					  		//ctx.scale(widthScale,heightScale);
					  	}
					  	else{
					  		var widthScale = 1;
					  		var heightScale = 1;
					  	}
							
					     
					    // set proper canvas dimensions before transform & export
							if ([1,5,6,7,8].indexOf(srcOrientation) > -1) {
					    	canvas.width = height;
					      canvas.height = width;
					    } else {
					    	canvas.width = width  ;//* widthScale
					      canvas.height = height ;//* heightScale
					    }
							
					  	// transform context before drawing image
					    console.log('srcOrientation ' + srcOrientation);

					    console.log('camera Orientation ' + cameraTilt);
					   
					    console.log('img ' + img);
					    
					    console.log(widthScale);

					     
					    switch (cameraTilt){

					    	case '0':
					    		console.log('case: 0');
								switch (srcOrientation) {// portrait camera up right'
								  case 1: ctx.transform(1, 0, 0, 1, 0, 0);break;//works
							      case 2: ctx.transform(-1, 0, 0, 1, width, 0);break;
							      case 3: ctx.transform(-1, 0, 0, -1, width, height );break;//use this for testing for scaling canvas.width = width * widthScale;canvas.height = height * heightScale;ctx.scale(widthScale,heightScale);
							      case 4: ctx.transform(1, 0, 0, -1, 0, height ); break;
							      case 5: ctx.transform(0, 1, 1, 0, 0, 0);break;
							      case 6: ctx.transform(0, 1, -1, 0, height , 0); break;//works
							      case 7: ctx.transform(0, -1, -1, 0, height , width);break;
							      case 8: ctx.transform(0, -1, 1, 0, 0, width);break;//works
							      default: ctx.transform(1, 0, 0, 1, 0, 0);
							    }
							   break;
							case '90':
					    		console.log('case: 90');
								switch (srcOrientation) {// clockwise 90 degrees'
								  case 1: ctx.transform(0, 1, -1, 0, height , 0); break;//works
							      case 2: ctx.transform(-1, 0, 0, 1, width, 0); break;
							      case 3: ctx.transform(0, -1, 1, 0, 0, width); break;//works
							      case 4: ctx.transform(1, 0, 0, -1, 0, height ); break;
							      case 5: ctx.transform(0, 1, 1, 0, 0, 0); break;
							      case 6: ctx.transform(-1, 0, 0, -1, width, height); break;//works 
							      case 7: ctx.transform(0, -1, -1, 0, height , width); break;
							      case 8: ctx.transform(1, 0, 0, 1, 0, 0); break;
							      default: ctx.transform(1, 0, 0, 1, 0, 0);
							    }
							   break;
							case '180':
					    		console.log('case: 180');
								switch (srcOrientation) {// upside down'
								  case 1: ctx.transform(-1, 0, 0, -1, width, height ); break;//works?
							      case 2: ctx.transform(-1, 0, 0, 1, width, 0); break;
							      case 3: ctx.transform(1, 0, 0, 1, 0, 0); break;//works
							      case 4: ctx.transform(1, 0, 0, -1, 0, height ); break;
							      case 5: ctx.transform(0, 1, 1, 0, 0, 0); break;
							      case 6: ctx.transform(0, -1, -1, 0, height , width); break;//works
							      case 7: ctx.transform(0, -1, -1, 0, height , width); break;
							      case 8: ctx.transform(0, 1, -1, 0, height , 0); break;//works
							      default: ctx.transform(1, 0, 0, 1, 0, 0);
							    }
							   break;
							 case '270':
					    		console.log('case: 270');
								switch (srcOrientation) {// counterclockwise 90 degrees'
								  case 1: ctx.transform(0, -1, 1, 0, 0, width); break;//works? 0, -1, 1, 0, 0, width
							      case 2: ctx.transform(-1, 0, 0, 1, width, 0); break;
							      case 3: ctx.transform(0, 1, -1, 0, height , 0); break;//works
							      case 4: ctx.transform(1, 0, 0, -1, 0, height ); break;
							      case 5: ctx.transform(0, 1, 1, 0, 0, 0); break;
							      case 6: ctx.transform(1, 0, 0, 1, 0, 0); break;//works
							      case 7: ctx.transform(0, -1, -1, 0, height , width); break;
							      case 8: ctx.transform(-1, 0, 0, -1, width, height ); break;//works
							      default: ctx.transform(1, 0, 0, 1, 0, 0);
							    }
							   break;
							default: 
								console.log('defaultly');

						}

							// draw image
							canvas.width = width * widthScale;
							canvas.height = height * heightScale;
							ctx.scale(widthScale,heightScale);
							console.log(canvas.width);
							console.log(canvas.height);
							console.log(img.width);
							console.log(img.height);
							
							//
					    ctx.drawImage(img, 0, 0);
							ctx.scale(0.5,0.5);

							// export base64
							
						callback(canvas.toDataURL('image/jpeg'));
					  };

						img.src = srcBase64;
						//console.log('img sause: '  + srcBase64);
					};
						

					  //console.log('orginal sause 2 ' + originalImage.src);
					// resetOrientation(originalImage.src, 1, function(resetBase64Image) {
//					 	resetImage.src = resetBase64Image;
					// }
					
				///
				/// input parser change to an internal function
				$scope.flightInputParser = function(flightSelected){//
					
					console.log(flightSelected);
					
					var parsedFlight = flightSelected;
					parsedFlight = parsedFlight.replace(/\(|\)/g,'');
					parsedFlight = parsedFlight.split(" ");
					
					console.log(parsedFlight);
				
					var flight = {};
					flight.CarrierCode 		= parsedFlight[0];
					flight.FlightNumber 	= parsedFlight[1];
					flight.DeparturePort 	= parsedFlight[3];
					flight.DepartureDate 	= parsedFlight[4];
					
					console.log(flight);
					
					return flight;
					
				}
				
	
				
				
				///
			  var uploadedCount = 0;
			  
			  $scope.dropdownItems = null;//

			  $scope.uname = "6b3bb429-2ff5-4b33-9fcb-c3c7c6de1079";
			  $scope.pass = null;
			  $scope.collection = null;
			  $scope.file = null;
			  $scope.successMsg = null;
			  $scope.errMsg = null;			  
			  $scope.warningMsg = null;//
			  $scope.jwtRefresh = $rootScope.jwtRefresh;
			  
			  //$interval(function () {}, 50);//refreshes for orientation checker
			  
			  $interval(function(){/* refresh jwt every 45 minutes */
					if ($scope.jwtRefresh){
					$rootScope.refreshToken(); 
					console.log($scope.jwtRefresh);
					}
					console.log($scope.jwtRefresh);
					}, 3*15*60*1000);

			  $scope.login = function login() {
				$scope.loading = true;
				$scope.errMsg = null;
				$scope.warningMsg = null;
				$scope.jwt = null;
				$http({
					method: 'POST',
					url: 'https://sat.tvs-cbp.com/api/auth/login/',
					data: {
						Username: $scope.uname,
						Password: $scope.pass
					}
				}).then(function successCallback(response) {
					$scope.loading = false;
					if (response.data.IdToken) {
						$scope.jwt = response.data.IdToken;
						$scope.jwtRefresh = response.data.RefreshToken;
						$scope.listCollections();
					} else {
						$scope.errMsg = errorMessageSelector(response.data.errorMessage) || "Login Failure";
						console.log($scope.errMsg);// HERE
					}
				}, function errorCallback(response) {
					$scope.loading = false;
					$scope.errMsg = "Unexpected Error";
				});
			  };
			  
			  $scope.listCollections = function listCollections() {
			    $scope.loading = true;
			    $scope.collections = [];
			    $scope.successMsg = null;
				$scope.errMsg = null;
				$scope.warningMsg = null;
				
				
				angular.element(document.querySelector('body')).css("background-color","#e6e6e6");
			    $http({
					method: 'POST',
					url: 'https://sat.tvs-cbp.com/api/bio/listCollections',
					headers: {
						"Authorization" : $scope.jwt
					},
				}).then(function successCallback(response) {
					$scope.loading = false;
					
					console.log(JSON.stringify(response.data));
					
					
					$scope.collections = [];
					if (Array.isArray(response.data.Result)) {
						response.data.Result.forEach(function(c) {
							var parts = c.split('-');
							if (parts.length >= 5) {
								$scope.collections.push({
									CarrierCode: parts[parts.length-4],
									FlightNumber: parts[parts.length-3],
									DeparturePort: parts[parts.length-2],
									DepartureDate: parts[parts.length-1]
								});
							}
						});	
						
						// Select first flight by default
						if ($scope.collections.length) {
							$scope.collection = $scope.collections[0];
						}
					}
				}, function errorCallback(response) {
					$scope.loading = false;
					$scope.errMsg = "Unexpected Error";
				});
			  }

			  $scope.uploadFiles = function uploadFiles() {
				$scope.successMsg = null;
				$scope.warningMsg = null;
				$scope.errMsg = null;
				console.log($scope.file);
				angular.element(document.querySelector('body')).css("background-color","#e6e6e6");
				
				
				$scope.collection = $scope.flightInputParser($scope.customSelected);
				console.log($scope.file.base64);
				console.log($scope.collection);
				
				if ($scope.collection && $scope.file) {
					$scope.loading = true;
					$scope.errMsg = null;
					var params = {
					  PhotoDate: $filter('date')(new Date(), "yyyyMMdd"),
					  Photo: $scope.file.base64.replace('data:image/jpeg;base64,',''),
					  Token: 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
							var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
							return v.toString(16);
						})
					};
					angular.extend(params, $scope.collection);
					
					
					$http({
						method: 'POST',
						url: 'https://sat.tvs-cbp.com/api/bio/identify/',					
						headers: {
							"Authorization" : $scope.jwt
						},
						data: params
					}).then(function successCallback(r2) {
						$scope.loading = false;
						$scope.file = null;

						if(!r2.data.hasOwnProperty('errorMessage')) {
							$scope.successMsg = r2.data.Result;
							if(r2.data.Result == "Match") {
								angular.element(document.querySelector('body')).css("background-color","#1BAB00");
								

							} else {
								angular.element(document.querySelector('body')).css("background-color","#009CDE");
								
							}
							$window.scrollTo(0, 0);
						} else {
							$scope.errMsg = errorMessageSelector(r2.data.errorMessage);	
							
						}
					}, function errorCallback(response2) {
						$scope.loading = false;
						$scope.errMsg = "Unexpected Error";
						$scope.file.base64 = null;/////////
					});
				} else {
					$scope.errMsg = "All Fields Required.";
					$scope.warningMsg = null;
					return false;
				}	
			  };
			  
			  $scope.closeButton = function(){
				  $scope.successMsg = null;
				  $scope.warningMsg = null;
				  $scope.errMsg = null;
				  angular.element(document.querySelector('body')).css("background-color","#e6e6e6");
				  document.getElementById('message').style.display='none';				  
			  }
			  
			  function errorMessageSelector(errorMessageRecieved){				  
				  switch(errorMessageRecieved){
					  case "Invalid Input":
						  return "Invalid Input"
					  case "Incorrect username or password":
						  return "Incorrect username or password."
					  case "Missing required parameter PASSWORD":
						  return "Incorrect username or password."
					  case "Missing required parameter USERNAME":
						  return "Incorrect username or password."
					  case "Face not detected. ":
						  return "Face not found"
					default:
						return errorMessageRecieved
					  }
			  }
			  
			  
			  ///
			  
			  
			  
			  ///
			  //
			  $scope.orientationChecker = function(){
				  
				  $scope.warningMsg = null;
				  $scope.successMsg = null;
				  $scope.errMsg = null;
				 

				  
				  if(($scope.betaX > 70 && $scope.betaX < 100) &&
						  ($scope.gammaY > -30 && $scope.gammaY < 30) 
						  )
					  {
					  $scope.ratilt = '0' ;
					  $scope.warningMsg = 'case 0';
					  }
						 
				  if(($scope.betaX >= -10 && $scope.betaX <= 10) &&
						  (($scope.gammaY >= 60 && $scope.gammaY <= 90)||($scope.gammaY >= -90 && $scope.gammaY <= -75) ) &&
						  ($scope.alphaZ >= 220)
						  )
					  {
					  $scope.ratilt = '90' ;
					  $scope.warningMsg = 'case 90';
					  }
				  
				  if(($scope.betaX >= -120 && $scope.betaX <= -65) &&
						  ($scope.gammaY >= -60 && $scope.gammaY <= 25) &&
						  ($scope.alphaZ >= 125 && $scope.alphaZ < 230)
						  )
					  {
					  $scope.ratilt = '180' ;
					  $scope.warningMsg = 'case 180';
					  }
				  
				  if (($scope.betaX >= -10 && $scope.betaX <= 10) &&
						  (($scope.gammaY >= -90 && $scope.gammaY <= 70) &&
						  ($scope.alphaZ >= 50 && $scope.alphaZ < 135)
						  ))
					  {
					  $scope.ratilt = '270' ;
					  $scope.warningMsg = 'case 270';
					  }
				  
				 
				  console.log($scope.warningMsg);
				  
				  
			  }
			  
			  
			  
			  ///// Testing orientation FOR TESTING ONLY
			   if (!window.DeviceOrientationEvent) {
            document.getElementById('do-unsupported').classList.remove('hidden');
         } else {
            document.getElementById('do-info').classList.remove('hidden');
 
            window.addEventListener('deviceorientation', function(event) {
            ;
 
               document.getElementById('beta').innerHTML = Math.round(event.beta);
               document.getElementById('gamma').innerHTML = Math.round(event.gamma);
               document.getElementById('alpha').innerHTML = Math.round(event.alpha);
               document.getElementById('is-absolute').innerHTML = event.absolute ? "true" : "false";
            });
         }
			  
			  
			  ///

				$rootScope.refreshToken = function refreshToken(){
					console.log('calling refreshToken');
					var pool = 'external';
					$http({
						method: 'POST',
						url: 'https://sat.tvs-cbp.com/api/auth/refreshToken',
						data: {
							RefreshToken: $scope.jwtRefresh,
							Pool: pool
						}
					}).then(function successCallback(response){
						console.log(response.data);
						var time = response.config.responseTimestamp - response.config.requestTimestamp;			  			
			  			var date = new Date().getTime();					
			  			if(response.data.IdToken){
			  				$scope.jwt = $rootScope.jwt = response.data.IdToken;
							$scope.jwtTTL = $rootScope.jwtTTL = response.data.ExpiresIn;
							$scope.jwtType = $rootScope.jwtType = response.data.TokenType;
							$scope.jwtAccess = $rootScope.jwtAccess = response.data.AccessToken;
							$scope.expiresAt = $rootScope.expiresAt = date + ((response.data.ExpiresIn)*1000);
							console.log('RefreshToken Success');
							
			  			} else {
			  				console.log('RefreshToken failed');
			  				$scope.errMsg = response.data;
			  			}						
					}, function errorCallback(response){
						console.log(response.data);
						$scope.errMsg = response.data;						
					});
				}
			});
			
		</script>
		<title>Identify</title>
	</head>
	<body ng-controller="ctrl">
		<div class="container" >
			<div class="row main">
				<div class="panel-heading w3-top" style="position:relative">
	               <div class="panel-title text-center">               	
	               		<header class="title main-header ">    
	               			<i class="fa fa-id-badge fa-inverse" aria-hidden="true" style="font-size:32px"></i> 
	               			Identify               			              		
	               		</header>                		             					
	               	</div>
	            </div>	            
			 	<div data-role="page"></div>         
	            <div class="w3-container">
		            <div class="center w3-mobile " >
		            	<div ng-hide="successMsg || errMsg || warningMsg " >			         
		            	</div>
		            	
		            	
						
						         	
		            	<div ng-show="successMsg || errMsg || warningMsg" class="results-dialog-box  w3-modal"  id="message">
		            		<span ng-click="closeButton()" class="w3-button w3-display-bottommiddle">CLOSE</span>            	
			           		<div ng-show="errMsg" ng-switch="errMsg" class=" center" style="color: #fff;background-color:#A00000;font-style:bold;font-size:120%">
								{{ errMsg }}
								<div ng-switch-when="Incorrect username or password.">
									<i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size:120%"></i>
									<br>
									Please re-enter.
								</div>
								<div ng-switch-when="Face not found">
									<i class="fa fa-frown-o" aria-hidden="true" style="font-size:120%"></i>  
									<br>
									Please re-take photo.
								</div>
								<div ng-switch-when="All Fields Required.">	
									<i class="fa fa-list-alt" aria-hidden="true" style="font-size:120%"></i>
									<br>
									Fill out please.															
								</div>
								<div ng-switch-when="Dataset not yet assigned">	
									<span class="fa-stack" style="font-size:120%;">
									  <i class="fa fa-clipboard fa-stack-1x shadowBorder" aria-hidden="true" ></i>							  
									</span>
									<br>
									will fix soon.							
								</div>
								<div ng-switch-when="Invalid Input"  >
									<i class="fa fa-keyboard-o" aria-hidden="true" style="font-size:120%"></i>
									<br>
									Please enter again.
								</div>	
								<div ng-switch-when="User does not exist.">
									<i class="fa fa-user" aria-hidden="true" style="font-size:120%"></i>
									<br>
									Please enter again.
								</div>														
								<div ng-switch-when="Failed to decode image." >
									<i class="fa fa-file-image-o" aria-hidden="true" style="font-size:120%"></i>
									<br>
									Please try another image.
								</div>
							</div>
							<div ng-show="successMsg" ng-switch="successMsg" class="center ">
								<div class="message" style="color:#fff;font-style:bold;">
									<div ng-switch-when="No Match" style="background-color:#0052cc">
										{{ successMsg }}
										<br>
										<i class="fa fa-meh-o" aria-hidden="true" style="font-size:120%; "></i> 
										<i style="font-size: 120%">&#x2260;</i> 
										<i class="fa fa-meh-o" aria-hidden="true" style="font-size:120%"></i>									
									</div>	
									<div ng-switch-when="Match" style="background-color: #008000">
										{{ successMsg }}
										<br>
										<i class="fa fa-smile-o" aria-hidden="true" style="font-size:120%; "></i>
									</div>
								</div>
							</div>
							
							<div ng-show="(warningMsg == 'case 90') && (!successMsg && !errMsg)"   class="center">
								<div class="message" style="color:#fff;font-style:bold;">
									<div  style="background-color:#0052cc">								
										Case 90
										
									</div>										
								</div>
													
							</div>
							
							<div ng-show="(warningMsg == 'case 0') && (!successMsg && !errMsg)"   class="center">
								<div class="message" style="color:#fff;font-style:bold;">
									<div  style="background-color:#0052cc">								
										Case Zero
										
									</div>										
								</div>
													
							</div>   
							
							<div ng-show="(warningMsg == 'case 180') && (!successMsg && !errMsg)"   class="center">
								<div class="message" style="color:#fff;font-style:bold;">
									<div  style="background-color:#0052cc">								
										Case 180
										
									</div>										
								</div>
													
							</div>
							
							<div ng-show="(warningMsg == 'case 270') && (!successMsg && !errMsg)"   class="center">
								<div class="message" style="color:#fff;font-style:bold;">
									<div  style="background-color:#0052cc">								
										Case 270
										
									</div>										
								</div>
													
							</div>   
							
						</div>
					</div>
				</div>
	        </div>
			<div class=" main-center w3-display-middle w3-mobile" ng-show="loading">
				<div class="w3-container w3-display-middle">				  
				  <p><i class="fa fa-spinner w3-spin " style="font-size:200px"></i></p>
				</div>
			</div>
			<div class=" main-login main-center w3-display-middle w3-mobile" ng-show="!loading && !jwt">
				<form class="form-horizontal" name="form" method="post" action="#">
					<div class="form-group">
						<label for="username" class="cols-sm-2 control-label">Username</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-users fa-lg" aria-hidden="true"></i></span>
								<input type="text" class="form-control" ng-model="uname" name="username" id="username"  placeholder="Enter your Username" value="6b3bb429-2ff5-4b33-9fcb-c3c7c6de1079" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="cols-sm-2 control-label">Password</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" ng-model="pass" name="password" id="password"  placeholder="Enter your Password"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<button  onclick="document.getElementById('message').style.display='block'" ng-click="login()" type="button" class="btn btn-primary btn-lg btn-block login-button cpb-button">Login</button>
					</div>
				</form>
			</div>		
			<div class=" main-login main-center w3-display-middle w3-mobile" ng-show="!loading && jwt">
			
			<img hidden id="img1" src=""   " />
			
				<form class="form-horizontal" name="form" method="post" action="#">
					<div class="form-group">
						<label for="carrierCode" class="cols-sm-2 control-label">Flight</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-plane fa-lg" aria-hidden="true"></i></span>
							  
								  <input type="text"  ng-model="customSelected" value="{{collection}}" uib-typeahead="collection.CarrierCode + ' ' + collection.FlightNumber + ' (departs ' + collection.DeparturePort + ' ' + collection.DepartureDate + ')' for collection in collections | filter:$viewValue"  class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
						
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputFile" class="cols-sm-2 control-label">Photo</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-camera fa" aria-hidden="true"></i></span> 
								<input onclick="document.getElementById('message').style.display='block'" ng-click="orientationChecker()" class="form-control" type="file" src='' onchange='loadImageFileAsURL()' ng-model="file" name="inputFile" id="inputFile" base-sixty-four-input required accept="image/*">
							</div>
						</div>
					</div>
					<div class="form-group ">
						<button onclick="document.getElementById('message').style.display='block'" ng-click="uploadFiles()" type="button" class="btn btn-primary btn-lg btn-block login-button cpb-button">
							Identify
						</button>						
						<button ng-click="listCollections()" type="button" class="btn btn-primary btn-lg btn-block login-button cpb-button">
							Refresh
						</button>
					</div>
					
					
					<!-- Used for testing -->
					<div id="do-info" class="hidden">
			            <p>
			               Coordinates:
			               (<span id="beta" class="value">null</span>,
			               <span id="gamma" class="value">null</span>,
			               <span id="alpha" class="value">null</span>)
			               <br />
			               Position absolute? <span id="is-absolute" class="value">unavailable</span>
			            </p>
			         </div>
					<!--  -->
				</form>
			</div>
		</div>
	</body>
</html>